.header {
  width: 100%;
  height: 5%;
  background-color: red;
  min-height: 30px;
}

.main {
  width: 100%;
  height: 95%;
}

#clientselector {
  transition: width 0.2s;
  height: 100%;
  width: 15%;
  background-color: purple;
  float: left;
}

#client {
  transition: width 0.2s;
  height: 100%;
  width: 85%;
  float: left;
}

#clientheader {
  min-height: 30px;
  height: 7%;
  width: 100%;
  background-color: grey;
}

#clientbody {
  display: inline-block;
  height: 93%;
  width: 100%;
}

#menu {
  height: 100%;
  width: 10%;
  background-color: rosybrown;
  float: left;
}

#stage > span  {
  transition: width 0.2s;
  height: 100%;
  width: 90%;
  float: left;
}

.collapsed #client {
  width: 97%;
}

.collapsed #clientselector {
  width: 3%;
}

#ticket {
  background-color: orange;
  float: left;
  width: 75%;
  height: 100%;
}

#stuff {
  background-color: deeppink;
  float: left;
  width: 25%;
  height: 100%;
}
//Colors

#info {
  background-color: blue;
}

#info {
  background-color: deeppink;
}

#blotter {
  background-color: darkolivegreen;
}

#other {
  background-color: blueviolet;
}

button {
  display: block;
}