.header {
  width: 100%;
  height: 5%;
  background-color: red;
  min-height: 30px; }

.main {
  width: 100%;
  height: 95%; }

#clientselector {
  transition: width 0.2s;
  height: 100%;
  width: 15%;
  background-color: purple;
  float: left;
}

#client {
  height: 100%;
  width: 85%;
  float: left;
}

#clientheader {

}

#menu {
  height: 100%;
  width: 10%;
  background-color: grey;
  float: left; }

#stage > span  {
  transition: width 0.2s;
  height: 100%;
  width: 75%;
  float: left;
}

.collapsed #stage > span {
  width: 87%;
}

.collapsed #clientselector {
  width: 3%;
}

#ticket {
  background-color: orange;
}

#info {
  background-color: blue;
}

#info {
  background-color: deeppink;
}

#other {
  background-color: blueviolet;
}

button {
  display: block;
}